.modal-container {
    --modal-width: 30rem;
    --modal-padding: 1rem;
    --transition-time: 250ms;

    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    inset: 0;
    backdrop-filter: blur(0.1rem);

    &[data-state="open"] {
        pointer-events: all;
    }
    
    &[data-state="opening"] {
        animation: modal-fade-in var(--transition-time) forwards;

        .modal {
            animation: modal-scale-up var(--transition-time) forwards;
        }
    }

    &[data-state="closing"] {
        animation: modal-fade-out var(--transition-time) forwards;

        .modal {
            animation: modal-scale-down var(--transition-time) forwards;
        }
    }

    .overlay {
        position: absolute;
        inset: 0;
        background-color: hsla(0, 0%, 0%, 0.8);
    }

    .modal {
        display: grid;
        grid-template-rows: max-content 1fr max-content;
        background-color: var(--theme-1);
        width: var(--modal-width);
        max-height: 80%;
        border-radius: 1rem;
        padding: 0 var(--modal-padding);
        z-index: 1;
    }

    .modal-header {
        display: flex;
        justify-content: center;
        align-items: center;

        .modal-title {
            background-color: var(--theme-2);
            padding: 0.5rem 1.25rem;
            border-radius: 0 0 1rem 1rem;
        }
    }

    .modal-body {
        display: grid;
        grid-template-rows: repeat(2, 1fr);
        gap: 1.5rem;
        padding: var(--modal-padding) 0;
    }

    .modal-footer {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding-bottom: var(--modal-padding);
    }

    .modal-content-group {
        display: grid;
        grid-template-rows: max-content 1fr;
        place-items: center;
        gap: 1rem;

        .modal-content-group-title {
            font-size: 1.75rem;
        }

        .modal-content-group-content {
            background-color: var(--theme-2);
            padding: 1rem;
            border-radius: 1rem;
            max-height: 12rem;
            overflow: auto;
        }
    }
}

@keyframes modal-fade-in {
    0% { opacity: 0 }
    100% { opacity: 1 }
}

@keyframes modal-fade-out {
    0% { opacity: 1 }
    100% { opacity: 0 }
}

@keyframes modal-scale-up {
    0% { scale: 0 }
    100% { scale: 1 }
}

@keyframes modal-scale-down {
    0% { scale: 1 }
    100% { scale: 0 }
}

@media (max-height: 850px) {
    .modal-content-group-content {
        max-height: 5rem !important;
    }
}

@media (max-height: 550px) {
    .modal-content-group-content {
        max-height: 2rem !important;
    }
}